/*Set up for webpage*/
/*
monogreen: http://paletton.com/palette.php?uid=12N0u0kifdbbymqdNh5mCawrN6Z;
adjacent: http://paletton.com/palette.php?uid=52N0u0kjfdpbPiWdzeenjbwsi8E;
triad: http://paletton.com/palette.php?uid=32N0u0kjfdpbPiWdzeenjbwsi8E;
*/


/*
	Overall style
*/
html,
body {
   margin:0;
   padding:0;
   height:100%;
   background: white;
}
#container {
   min-height: 100%;
   position:relative;
   margin-top: 50px;
}
#body {
   padding: 20px;
   padding-bottom: 350px;   /* Height of the footer */
   background: #2A5625;
   margin-left: 50px;
   margin-right: 50px;
}
.footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:200px;   /* Height of the footer */
   background:#6cf;
   padding-top: 50px;
}


/* ------------------------------------------------------------ */


/*
	Header style
*/

div#navbar {
	position: relative;
	background: #63925E;
	height: 70px;
}

ul#menu {
	position: absolute;
	right: 20px;
	bottom: 0px;
	text-align: right;
	margin: 0px;
	padding-right: 20px;
}

ul#menu li {
    display:inline;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
}

ul#menu li a { text-decoration: none; }
ul#menu li a:hover{ color: red; }

.temp{ color: red; }
#logo{ height: 100%; float: left; }
/* ------------------------------------------------------------ */

/*
	Content style
*/

.social {	padding-left: 50px; }
.primary {	color: #D7E8B3;	}

/* Profile image */
.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(../img/david.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	margin-left: auto;
	margin-right: auto;
	display:block;
	}

.circular img {
	opacity: 0;
	filter: alpha(opacity=0);
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

.heading{
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
}

/* ------------------------------------------------------------ */

/*
	Footer style
*/


.info {
	float: left;
	text-align: left;
}

.info ul li{
	padding-top: 10px;
	list-style-type: none;
}

.info ul#media li{
	display: inline;
}

.column{ float: left; margin: 0 0.5em; background: red;}
.outer-wrapper { position: relative; float: right; right: 50%; }
.inner-wrapper { position: relative; float: right; right: -50%; }

.column ul { padding-left: 30px;}
.column ul li a img{ vertical-align: -80%; margin: 5px;}
/* ------------------------------------------------------------ */