@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #00205b;
  --secondary: #80a0ff;
  --tertiary: #006300;
  --neutral: #f2f2f2;
}
:root .theme-inverse {
  --primary: #004c97;
  --secondary: #00205b;
  --tertiary: #006300;
}

:root .theme-tft {
  --primary: #ffb60c;
  --secondary: #f000b8;
  --tertiary: #37cdbe;
}

:root .theme-mahjong {
  --primary: #fff;
  --secondary: green;
  --tertiary: #37cdbe;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #00205b;
    --secondary: #80a0ff;
    --tertiary: #006300;
    --neutral: #f2f2f2;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

body input {
  background-color: rgb(var(--input-rgb));
}
